<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/addworker.css">
    <title>Document</title>
</head>
<body>
<main>
<div class="capsule">
            <img class="logocapsule" src="../img/capsulelogo.svg" alt="logocapsule">
        </div>

		<div class="backgroundform">
    <h1>AJOUT D'EMPLOYE</h1>

<form action="/addworker" method="POST" enctype="multipart/form-data">
			<label for="name">name</label>
			<input type="text" id="name" name="name">

			<label for="">fonction</label>
			<input type="text" id="fonction" name="fonction">

			<label for="file">photo</label>
			<input type="file" id="photo" name="photo">

			<label for="password">blame</label>
			<input type="number" id="number" name="blame">
			
			<button type="submit">valider</button>
		</form>
		</DIV>
  


</main>
</body>
</html>