<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/connexion.css">
    <title>Capsule Corp RH Inscription</title>
</head>
<body>
    <main>
<div class="capsule">
<img class="logocapsule" src="./img/capsulelogo.svg" alt="logocapsule">
</div>

<div class="formulaire">

    
    <form class="form" action="/connexion" method="POST">
       <h1>CONNECTEZ VOUS</h1> <br>

        <label for="">Mail</label>
        <input type="email" name="mail">
        <label for="">Mot de passe</label>
        <input type="password" name="password">

        <button type="submit">VALIDER</button>

        
    </form>

</div>


</main>
    
</body>
</html>