<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>capsule RH</title>
</head>
<body>

<main>

    <div>
    <img class="backgroundRH" src="./img/backgroundRH.jpg" alt="backgroundRH">
    </div>
    
    
    <div class="backgroundblue">
        <img class="capsulelogo" src="./img/capsulelogo.svg" alt="capsulelogo">
        <div class="connexion"><a href="/connexion"><img class="connexionbutton" src="./img/connexionbutton.svg" alt="connexionbutton"></a></div>
<div class="connexion"> <a href="/register"><img class="connexionbutton" src="./img/inscriptionbutton.svg" alt="inscriptionbutton"></a></div>
<P class="copyright">COPYRIGHT 2023</P>
    </div>
    

    
    


</main>
    
</body>
</html>
