*{
    margin: 0;
    padding: 0;
    font-family: anton;
}
main{
    display: flex;
    background-color: #D9D9D9;
}
.capsule{
    background-color: #0370CB;
    height:800px;
    width: 40%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    border-radius: 10px;
    
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #0370CB;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}
[type="submit"] {
    width: 20%;
    background:#0370CB;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top: 10px;
    margin: 15px;
    transition: all 0.3s;
    font-weight:700;
    justify-content: center;
    margin-left: 280px;
  }
  [type="submit"]:hover { background:#0FDFA1; }

@font-face {
    font-family: anton;
    src: url(../font/Anton.ttf);
}

h1{
    margin-left: 418px;
    margin-top: 40px;
}
.logocapsule{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 225px;
}
.ajoutemploye{
    margin-right: -235px;
}

.photo{
    border-radius: 10px;
}
.linkcolor{
    color: white;
    text-decoration: none;
}

form{
    width: 70%;
    margin-left: 150px;
}